

img {
    padding: 0 10px 10px 10px;
    margin: 12px 0;
    background: transparent;
}

main h2 {
    margin: 0; padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.clear {
  clear: both;
}

.pattern {
    padding: 0; margin: 0;
}
.flip-horizontal {
  transform: scaleX(-1)
}
.flip-vertical {
  transform: scaleY(-1)
}
